@model GameWeb.Models.CharactersViewModel


@using(Html.BeginForm("FightEnemy","Home", FormMethod.Post)){


    @Html.TextBoxFor(model => model.alien.alienName, new { @class = "form-control" })  
    @Html.TextBoxFor(model => model.alien.healthPoints, new { @class = "form-control" }) 
    @Html.TextBoxFor(model => model.alien.message, new { @class = "form-control" })  
    @Html.TextBoxFor(model => model.alien.strenght[0], new { @class = "form-control" }) 
    @Html.TextBoxFor(model => model.alien.weakness[1], new { @class = "form-control" })  

    <div style="padding-top:3em;">
    <select class="form-control" id="selectedWeapon" name="selectedWeapon">
    @for(var i = 0; i < 3; i++){
        <option value=@Model.weapon.weapons[i,1]>@Model.weapon.weapons[i,0]</option>
    }
    </select>
    </div>

    <button type="Submit" value="Save">Submit</button>
}