@model GameWeb.Models.CharactersViewModel


<h1>@Model.gameStatus</h1>

<ul>
    <li>
        @Model.alien.alienName
    </li>
    <li>
        @Model.alien.healthPoints
    </li> 
    <li>
        @Model.alien.message
    </li>   
    <li>
        @Model.alien.healthPoints
    </li>  
    <li>
        @Model.selectedWeapon
    </li>


<ul>